# UDEV rules for AlienFX controllers found in Alienware computers. These rules
# allow user access of the AlienFX controllers for use by e.g. the alienfx 
# program.

# USB device 0x187c:0x0521 (AlienFX controller for M14xR1 laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0521", MODE:="666", GROUP="users"

# USB device 0x187c:0x0512 (AlienFX controller for M17x laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0512", MODE:="666", GROUP="users"

# USB device 0x187c:0x0527 (AlienFX controller for 13r2 laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0527", MODE:="666", GROUP="users"
