# UDEV rules for AlienFX controllers found in Alienware computers. These rules
# allow user access of the AlienFX controllers for use by e.g. the alienfx 
# program.

# USB device 0x187c:0x0511 (AlienFX controller for Area51 desktop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0511", MODE:="666", GROUP="users"

# USB device 0x187c:0x0514 (AlienFX controller for M11xR1 laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0514", MODE:="666", GROUP="users"

# USB device 0x187c:0x0515 (AlienFX controller for M11xR2 laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0515", MODE:="666", GROUP="users"

# USB device 0x187c:0x0522 (AlienFX controller for M11xR3 laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0522", MODE:="666", GROUP="users"

# USB device 0x187c:0x0527 (AlienFX controller for M13xR2 laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0527", MODE:="666", GROUP="users"

# USB device 0x187c:0x0529 (AlienFX controller for M13xR3 laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0529", MODE:="666", GROUP="users"

# USB device 0x187c:0x0521 (AlienFX controller for M14xR1 laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0521", MODE:="666", GROUP="users"

# USB device 0x187c:0x0521 (AlienFX controller for M14xR2 laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0521", MODE:="666", GROUP="users"

# USB device 0x187c:0x0525 (AlienFX controller for M14xR3 laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0525", MODE:="666", GROUP="users"

# USB device 0x187c:0x0512 (AlienFX controller for M15x laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0512", MODE:="666", GROUP="users"

# USB device 0x187c:0x0512 (AlienFX controller for M17x laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0512", MODE:="666", GROUP="users"

# USB device 0x187c:0x0520 (AlienFX controller for M17xR3 laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0520", MODE:="666", GROUP="users"

# USB device 0x187c:0x0530 (AlienFX controller for M17xR4 laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0530", MODE:="666", GROUP="users"

# USB device 0x187c:0x0528 (AlienFX controller for 17R3 laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0528", MODE:="666", GROUP="users"

# USB device 0x187c:0x0518 (AlienFX controller for M18xR2 laptop)
SUBSYSTEM=="usb", ATTR{idVendor}=="187c", ATTR{idProduct}=="0518", MODE:="666", GROUP="users"

