[Desktop Entry]
Name=AlienFX
Comment=AlienFX lighting controller
Type=Application
Exec=alienfx-gtk
Icon=alienfx
StartupWMClass=alienfx
Categories=Utility;
GenericName=AlienFX
GenericName[en_IN]=AlienFX
Name[en_IN]=AlienFX
